.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0EFF5;
  min-height: 100vh;
  padding-top: 215px;
}

.App-header {
  width: 100%;
  height: 200px;
  padding: 30px 0;
  margin-bottom: 10px;
  color: white;

  background: -webkit-linear-gradient(to top right, #000000 45%, #222);
  background: linear-gradient(to top right, #000000 45%, #222);

  box-shadow: 0 2px 9px rgba(0,0,0,0.15);

  position: fixed;
  top: 0;
  overflow: hidden;
}

.App-header-sticky {
  height: 87px;
  padding: 14px;
  position: fixed;
  top: 0;
  overflow: hidden;
  font-size: 12px;
}

.Input{
  height: 45px;
  width: 35%;
  text-align: center;
  font-size: 21px;
  border: 0;
  box-shadow: none;
  border-radius: 5px;
  outline: none;
  font-weight: 300;
}

.Card{
  margin-bottom: 10px;
  width: 35%;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.01), 0 1px 4px rgba(0,0,0,0.1);
}

.Word{
  margin: 10px 0 7px 0;
}

.WordType{
  font-style: italic;
  color: #8a8a8a;
  font-weight: 200;
}

.hidden{
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
